# === AWS S3 (o OCI Object Storage con S3 compatible) ===
AWS_ACCESS_KEY_ID=
AWS_SESSION_TOKEN=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
# OCI_ENDPOINT_URL=https://{namespace}.compat.objectstorage.{region}.oraclecloud.com

# === Azure Blob Storage ===
# AZURE_ACCOUNT_NAME=nombre-de-tu-cuenta
# AZURE_ACCOUNT_KEY=clave-de-acceso
# AZURE_CONTAINER=media
